version: '3.8'
services:
  backend:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    depends_on:
      - db
      - es
      - rabbitmq
      - redis
    env_file: .env

  celery:
    build: .
    command: celery -A app.tasks worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - backend
      - rabbitmq
      - redis

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: email_sec
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - pgdata:/var/lib/postgresql/data

  es:
    image: elasticsearch:8.15.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - esdata:/usr/share/elasticsearch/data

  rabbitmq:
    image: rabbitmq:3.13-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7.4

  frontend:
    image: node:20
    working_dir: /frontend
    command: npm start
    volumes:
      - ./frontend:/frontend
    ports:
      - "3000:3000"

volumes:
  pgdata:
  esdata: